extends layout

block content
    p Loaded content from index.jade
    p= first_p
    v = 1 + 2
    p "1 + 2 = #{v}" shows Jade variable assignment works
    p#layout_stylus_test Shows in green if Stylus in layout.jade worked
    p#external_styl_test Shows in green if index.styl loaded
    p#coffee_test CoffeeScript in layout.jade did not load
    p: a(href="/other") View other Jade page
    p: a(href="/other.html") Same page with .html extension
    p: a(href="/plain.html") View plain html page
    p: a(href="/plain") View plain html page (no extension)
    p: a(href="/nodejs.png"): img(alt="Node.js logo", src="/nodejs.png")
    p The Node.js logo will show above this if static files are being served
