extends layout

block content
	p Loaded content from index.jade

	p= first_p

	h2 Code

	- v = 1 + 2
	p "1 + 2 = #{v}" shows 3 if Jade variable assignment works

	h2 Stylus

	p#layout_stylus_test Shows in green if Stylus in layout.jade worked
	p#external_styl_test Shows in green if index.styl loaded

	h2 CoffeeScript

	p#coffee_test CoffeeScript in layout.jade did not load

	h2 Markdown

	:markdown
		This is inline Markdown!

	include:markdown _links.md

block scripts
	script(type="text/javascript")
		:coffeescript
			ready = ->
				item = document.getElementById 'coffee_test'
				item.innerHTML = 'CoffeeScript in layout.jade loaded'
			if document.addEventListener
				document.addEventListener 'DOMContentLoaded', ready, false
			else if document.attachEvent
				document.attachEvent 'onreadystatechange', ready

block styles
	style(type="text/css")
		:stylus
			#layout_stylus_test
				color green
